<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RK - The Gentlemen's Store</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/index.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
</head>
<body>
<nav class="navbar fixed-top navbar-expand-lg navbar-dark brown">
    <a class="navbar-brand" href="/">

        <img src="/RKLogo.png" width="50" height="50"  alt="">

        <span style="vertical-align: middle;color: #B49353">RK Store</span>
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="/">Home</a>
            <a class="nav-item nav-link active" href="/products">Products</a>
            <a class="nav-item nav-link" href="/tokens">Tokens</a>
        </div>
    </div>
</nav>
<div style="position: relative; top: 100px" class="container">

    <div class="row">
        <div class="col-md-4">
            <div class="item-card card text-white bg-dark">
                <img style="width: 100%;height: 252px" src="https://images.unsplash.com/photo-1466684921455-ee202d43c1aa?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b81428c4ce41e0571b43859dc0e28e6b&auto=format&fit=crop&w=1050&q=80">
                <div style="position: relative" class="card-body">
                    <span class="cost">50.5 ₹kt</span>
                    <a class="btn btn-warning btn-lg justify-content-end" style="float: right">Buy</a>
                </div>
            </div>    
        </div>
        <div class="col-md-4">
            <div class="item-card card text-white bg-dark">
                <img style="width: 100%;height: 252px" src="https://images.unsplash.com/3/www.madebyvadim.com.jpg?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=0d00b2e84a1695cf3c46c8eda5548195&auto=format&fit=crop&w=1061&q=80">
                <div style="position: relative" class="card-body">
                    <span class="cost">105 ₹kt</span>
                    <a class="btn btn-warning btn-lg justify-content-end" style="float: right">Buy</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 ">
            <div class="item-card card text-white bg-dark">
                <img style="width: 100%;height: 252px" src="https://images.unsplash.com/photo-1497339100210-9e87df79c218?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=deb85808f71039e3e039fdb18ba26019&auto=format&fit=crop&w=1050&q=80">
                <div style="position: relative" class="card-body">
                    <span class="cost">80 ₹kt</span>
                    <a class="btn btn-warning btn-lg justify-content-end" style="float: right">Buy</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 ">
            <div class="item-card card text-white bg-dark">
                <img style="width: 100%;height: 252px" src="https://images.unsplash.com/photo-1441984344779-4716bd9e6b04?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c776add765c0f78a8fb5a00e84e2ec73&auto=format&fit=crop&w=1121&q=80">
                <div style="position: relative" class="card-body">
                    <span class="cost">70.5 ₹kt</span>
                    <a class="btn btn-warning btn-lg justify-content-end" style="float: right">Buy</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 ">
            <div class="item-card card text-white bg-dark">
                <img style="width: 100%;height: 252px" src="https://images.unsplash.com/photo-1518425636460-9cf03017a5ed?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=31ac7d61d50dade22e0da90c1110aa7e&auto=format&fit=crop&w=1050&q=80">
                <div style="position: relative" class="card-body">
                    <span class="cost">35 ₹kt</span>
                    <a class="btn btn-warning btn-lg justify-content-end" style="float: right">Buy</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 ">
            <div class="item-card card text-white bg-dark">
                <img style="width: 100%;height: 252px" src="https://images.unsplash.com/photo-1481608726045-7407244fb7b6?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=36ff3029b39c4bd1892c44308118d53b&auto=format&fit=crop&w=1051&q=80">
                <div style="position: relative" class="card-body">
                    <span class="cost">105.5 ₹kt</span>
                    <a class="btn btn-warning btn-lg justify-content-end" style="float: right">Buy</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 ">
            <div class="item-card card text-white bg-dark">
                <img style="width: 100%;height: 252px" src="https://images.unsplash.com/photo-1507975456351-a41d6828b9c8?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=ae95d76bce1628ab385aa5e5cb6c57cb&auto=format&fit=crop&w=1050&q=80">
                <div style="position: relative" class="card-body">
                    <span class="cost">60.5 ₹kt</span>
                    <a class="btn btn-warning btn-lg justify-content-end" style="float: right">Buy</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 ">
            <div class="item-card card text-white bg-dark">
                <img style="width: 100%;height: 252px" src="https://images.unsplash.com/photo-1449505278894-297fdb3edbc1?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e4f3b47048a2518f436335d515d7fee5&auto=format&fit=crop&w=1050&q=80">
                <div style="position: relative" class="card-body">
                    <span class="cost">70 ₹kt</span>
                    <a class="btn btn-warning btn-lg justify-content-end" style="float: right">Buy</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 ">
            <div class="item-card card text-white bg-dark">
                <img style="width: 100%;height: 252px" src="https://images.unsplash.com/photo-1486012355952-89f0d82ac311?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=50590e03f93c519b8a2b9fd2e8ffe271&auto=format&fit=crop&w=1050&q=80">
                <div style="position: relative" class="card-body">
                    <span class="cost">20.5 ₹kt</span>
                    <a class="btn btn-warning btn-lg justify-content-end" style="float: right">Buy</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 ">
            <div class="item-card card text-white bg-dark">
                <img style="width: 100%;height: 252px" src="https://images.unsplash.com/photo-1513348313239-6ccc6c25c11b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=5d6844935b6492ad61b9988d60661d9e&auto=format&fit=crop&w=1050&q=80">
                <div style="position: relative" class="card-body">
                    <span class="cost">150 ₹kt</span>
                    <a class="btn btn-warning btn-lg justify-content-end" style="float: right">Buy</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 ">
            <div class="item-card card text-white bg-dark">
                <img style="width: 100%;height: 252px" src="https://images.unsplash.com/photo-1518131672697-613becd4fab5?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=cb83a90eb70b431ca38229d3100c2b1f&auto=format&fit=crop&w=1050&q=80">
                <div style="position: relative" class="card-body">
                    <span class="cost">45 ₹kt</span>
                    <a class="btn btn-warning btn-lg justify-content-end" style="float: right">Buy</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 ">
            <div class="item-card card text-white bg-dark">
                <img style="width: 100%;height: 252px" src="https://images.unsplash.com/photo-1466837703337-242d94d6b8c7?ixlib=rb-0.3.5&s=ba561377f79d7cdb2c8489b737a3e83f&auto=format&fit=crop&w=1050&q=80">
                <div style="position: relative" class="card-body">
                    <span class="cost">55 ₹kt</span>
                    <a class="btn btn-warning btn-lg justify-content-end" style="float: right">Buy</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>