<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RK - The Gentlemen's Store</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/tokens.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
</head>
<body>
<div id="token_background">

</div>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark brown">
        <a class="navbar-brand" href="/">
            <img src="/RKLogo.png" width="50" height="50"  alt="">
            <span style="vertical-align: middle;color: #B49353">RK Store</span>
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="/">Home</a>
                <a class="nav-item nav-link" href="/products">Products</a>
                <a class="nav-item nav-link active" href="/tokens">Tokens</a>
            </div>
        </div>
    </nav>
    <div style="padding-top: 150px">
        <div style="" class="container">
            <h1>
                Buy ₹kt (Rikki Tokens)
            </h1>
            <form style="margin-top: 30px">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="public_key"><strong>Enter your Public Key</strong></label>
                        <input  class="form-control" id="public_key" placeholder="Your Public Key">
                    </div>
                    <div class="form-group  col-md-4">
                        <label for="buy_amount"><strong>Enter amount of ₹kt</strong></label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">₹kt</div>
                            </div>
                            <input type="number" class="form-control" id="buy_amount" placeholder="1000.55">
                        </div>
                    </div>
                    <div class=" form-group col-md-2">
                        <label style="visibility: hidden" >Submit</label>
                        <button type="button" id="buy_button" style="display: block" class="btn btn-block btn-warning text-white">Buy</button>
                    </div>
                </div>
            </form>
        </div>
        <div style="margin-top: 100px" class="container">
            <h1>
                Transfer ₹kt
            </h1>
            <form style="margin-top: 30px">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="rec_public_key"><strong>Enter Reciever's Public Key</strong></label>
                        <input  class="form-control" id="rec_public_key" placeholder="Reciever's Public Key">
                    </div>
                    <div class="form-group  col-md-4">
                        <label for="send_amount"><strong>Enter amount of ₹kt</strong></label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">₹kt</div>
                            </div>
                            <input type="number" class="form-control" id="send_amount" placeholder="1000.55">
                        </div>
                    </div>
                    <div class=" form-group col-md-2">
                        <label style="visibility: hidden" >Submit</label>
                        <button id="send_button" style="display: block" class="btn btn-block btn-warning text-white">Send</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script>

    if (typeof web3 !== 'undefined') {
        web3 = new Web3(web3.currentProvider);
    } else {
        // set the provider you want from Web3.providers
        web3 = new Web3(new Web3.providers.HttpProvider("http://localhost:8545"));
    }
    web3.eth.defaultAccount = web3.eth.accounts[0];

    var CoursetroContract = web3.eth.contract([
        {
            "constant": false,
            "inputs": [],
            "name": "killContract",
            "outputs": [],
            "payable": false,
            "stateMutability": "nonpayable",
            "type": "function"
        },
        {
            "constant": true,
            "inputs": [
                {
                    "name": "",
                    "type": "uint256"
                }
            ],
            "name": "storeItems",
            "outputs": [
                {
                    "name": "hasBought",
                    "type": "bool"
                },
                {
                    "name": "boughtby",
                    "type": "address"
                },
                {
                    "name": "value",
                    "type": "uint256"
                },
                {
                    "name": "photo",
                    "type": "string"
                }
            ],
            "payable": false,
            "stateMutability": "view",
            "type": "function"
        },
        {
            "constant": false,
            "inputs": [],
            "name": "initStore",
            "outputs": [],
            "payable": false,
            "stateMutability": "nonpayable",
            "type": "function"
        },
        {
            "constant": false,
            "inputs": [
                {
                    "name": "value",
                    "type": "uint256"
                }
            ],
            "name": "getTokens",
            "outputs": [],
            "payable": false,
            "stateMutability": "nonpayable",
            "type": "function"
        },
        {
            "constant": true,
            "inputs": [],
            "name": "rkt",
            "outputs": [
                {
                    "name": "",
                    "type": "address"
                }
            ],
            "payable": false,
            "stateMutability": "view",
            "type": "function"
        },
        {
            "constant": false,
            "inputs": [
                {
                    "name": "item_id",
                    "type": "uint256"
                }
            ],
            "name": "buyItem",
            "outputs": [],
            "payable": false,
            "stateMutability": "nonpayable",
            "type": "function"
        },
        {
            "constant": true,
            "inputs": [
                {
                    "name": "_address",
                    "type": "address"
                }
            ],
            "name": "getBalance",
            "outputs": [
                {
                    "name": "",
                    "type": "uint256"
                }
            ],
            "payable": false,
            "stateMutability": "view",
            "type": "function"
        },
        {
            "inputs": [],
            "payable": false,
            "stateMutability": "nonpayable",
            "type": "constructor"
        }
    ]);

    var Coursetro = CoursetroContract.at('0x8cdaf0cd259887258bc13a92c0a6da92698644c0');
    console.log(Coursetro);

    Coursetro.symbol(function (err, res) {
        console.log(res)
    });

    console.log("Balance of 1st account : ");
    Coursetro.balanceOf("0x627306090abaB3A6e1400e9345bC60c78a8BEf57",function (err, res) {
        if(!err){
            console.log(res.toNumber());
        }else {
            console.log(err);
        }
    });
    $("#buy_button").click(function () {
        var public_key = $("#public_key").val();
        var buy_amount = $("#buy_amount").val();
        Coursetro.transfer(public_key,buy_amount,function (err, res) {
            if(!err){
                console.log(res);
                alert("Transaction of amount "+buy_amount+" to account \n"+public_key+"\n successful !!!");
            }else {
                console.log(err);
            }
        })
    });

    $("#send_button").click(function () {
        var public_key = $("#rec_public_key").val();
        var send_amount = $("#send_amount").val();
        Coursetro.transfer()
    })

</script>
</body>
</html>