body{
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: rgb(37, 31, 32);
}
.brown{
    background-color: #241F20;
}
.navbar{
    padding: 0;
    font-size: 1.1em;
}
